# pnpm
pnpm-lock.yaml

# rollup
.rollup.cache/
*.tsbuildinfo

# Jest
coverage/
*.test.ts
*.test.tsx

# Build artifacts (TypeScript)
*.tsbuildinfo

# Docker
docker-compose.override.yml

# Lint/format
.eslintcache
.prettiercache

# Storybook (caso use)
.storybook/
storybook-static/

# Cypress (caso use)
cypress/videos/
cypress/screenshots/

# Turborepo (caso use)
turbo/ 